// define general sizes
@wboard: 814px;
@hboard: 510px;
@wcard: 158px;
@hcard: 251px;
@margin: 4px;
@maxplayers: 9;
@radius: 10px;
@pawn: 36px;

// calculations
@hgame: @hboard + @hevent;
@cardratio: @wcard / @hcard;
@wplayers: @hgame * @cardratio / @maxplayers;
@wpcard: @wplayers - @margin;
@hpcard: (@hgame - @margin) / @maxplayers - @margin;
@wdecks: @margin + @wcard;
@wplayer: @hcard;
@hevent: @margin * 2 + @hcard;
@wgame: @wplayers + @wdecks + @wboard + @wplayer;

@font-face {
    font-family: 'Booter';
    src: url("../fonts/booterFF.ttf") format("opentype");
}

.bg-fade(@col) { background-color: fade(@col, 25%); }

html {
    background: url('../images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: "Booter";
    font-size: 1.3vw;
}

#game {
    // fixed aspect ratio filling viewport
    width: 100vw;
    height: (@hgame / @wgame) * 100vw;
    max-width: (@wgame / @hgame) * 100vh;
    max-height: 100vh;
    // centered positioning
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    // content
    display: flex;
    flex-direction: row;
}

img {
    display: block;
    width: 100%;
}

#players {
    .bg-fade(brown);
    width: percentage(@wplayers / @wgame);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .player {
        width: percentage(@wpcard / @wplayers);
        height: percentage(@hpcard / @hgame);
        border-radius: percentage(@radius / @wpcard) ~'/' percentage(@radius / @hpcard);
        overflow: hidden;
        margin-left: percentage(@margin / @wplayers);
        margin-top: percentage(@margin / @hgame);
        &:last-child { margin-bottom: percentage(@margin / @hgame); }

        position: relative;
        .pawn {
            position: absolute;
            width: percentage(@pawn / @wpcard);
            height: percentage(@pawn / @hpcard);
            top: percentage(@wpcard / @hpcard);
            left: 50%;
            box-sizing: border-box;
            transform: translate(-50%, -50%);
        }

        div {
            display: flex;
            flex-direction: row;
            height: percentage((@hpcard - @wpcard) / @hpcard);
            background-color: whitesmoke;
            align-items: flex-end;

            span {
                text-align: center;
                flex: auto;
                display: block;
            }
        }
    }
}

#decks {
    width: percentage(@wdecks / @wgame);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    .deck {
        .bg-fade(lightsalmon);
        width: percentage(@wcard / @wdecks);
        height: percentage(@hcard / @hgame);

        margin-left: percentage(@margin / @wdecks);
        margin-top: percentage(@margin / @hgame);
        &:last-child { margin-bottom: margin-top;}
    }
}

#player {
    .bg-fade(lightskyblue);
    width: percentage(@wplayer / @wgame);
    display: flex;
    flex-direction: column;
}

#center {
    width: percentage(@wboard / @wgame);
}

#board {
    position: relative;
}

#p1 {  // test pawn
    position: absolute;
    left: 24.2%;
    top: 32.6%;
    background: url('../images/seal.png');
    background-size: contain;
    width: percentage(@pawn / @wboard);
    height: percentage(@pawn / @hboard);
    transform: translate(-50%, -50%);
}

#events {
    box-sizing: border-box;
    height: percentage(@hevent/@hgame);
    padding: percentage(@margin/@hgame) 0;
    display: flex;
    flex-direction: row;

    .eventspace {
        flex: auto;
        height: 100%;
        margin-left: percentage(@margin/@wboard);
        &:last-child { margin-right: percentage(@margin/@wboard); }
        width: percentage(@wcard/@wboard);
        min-height: 20px;
    }
}
